.contenedor{
  display: flex;
  width: fit-content;
  border-radius: 5px;
  
  padding: 5px;
  margin: 10px 10px 10px auto;
}

.barra{
    display: flex;
    align-items:center;
    left: 5px;
    padding: 5px;
}

.input[type="search"] {
  outline: none;
  box-sizing: border-box;
  height: 30px;
  width: 0;
  padding: 0 20px;
  color: #000;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid red;
  transition: all .7s ease;
  width: 350px;
}

.btn {
  position: absolute;
  right: 10px;
  top: 25px;
  width: 50px;
  height: 50px;
  background: #1934d1;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s;
}

:hover .btn{
  background-color: rgb(98, 0, 255);
  box-shadow: 0 0 10px rgb(98, 0, 255), 0 0 40px rgb(98, 0, 255), 0 0 80px rgb(98, 0, 255);
}

.random{
  background-color: #204ceb;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.random:hover {
  background-color: rgb(113, 131, 209);
  box-shadow: 0 0 10px rgb(98, 0, 255), 0 0 40px rgb(98, 0, 255), 0 0 80px rgb(98, 0, 255);
}

.icono {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  position: relative;
  left: -25px;
  cursor: pointer;
}


.icono .fa-plus {
  font-size: 1.2em;
  color: #000;
  transition: all .7s ease;
  transform: rotate(0deg);
}

::placeholder{
  color: grey;

}

.btn i {
  font-size: 20px;
  color: #000;
  line-height: 80px;
  transition: all .7 ease;
}


.btn:hover{
  background: rgb(110, 14, 137);
}
