.contenedor {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.img {
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
  margin-left: 2rem;
  border-radius: 50%;
  
}