.App {
   background-image: url('./components/Fondos/fondoRam.jpg');
   background-repeat: no-repeat;
   background-size: cover;  
}
html,
body{
   background-image: url('./components/Fondos/fondoRam.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}
