.contenedor{
    display: flex;
    width: auto;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(62, 47, 147);
    box-shadow: 0 0 10px rgb(9, 4, 78), 0 0 40px rgb(23, 5, 124), 0 0 80px rgb(66, 51, 236);
    padding: 5px;
    margin: 0px 20px 10px auto;
}

.logo{
    display: flex;
    width: auto;
    position: relative;
    height: 90px;

}

.about{
    background-color: #aa9d0d;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    
}

:hover.about {
    background-color: #ddf36f;
    box-shadow: 0 0 10px rgb(149, 193, 16), 0 0 40px rgb(152, 212, 13), 0 0 80px rgb(18, 206, 28);
}

.home{
    background-color: rgba(239, 20, 166, 0.591);
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
   
}

:hover.home{
    background-color: rgba(231, 130, 198, 0.591);
    box-shadow: 0 0 10px rgba(167, 10, 115, 0.591), 0 0 40px rgba(208, 38, 151, 0.591), 0 0 80px rgba(211, 74, 166, 0.591);
}